a{
  text-decoration: none !important;
  color: #e5e5e5 !important;
}

#offcanvasExample{
  top: 0; /* Height of navbar */
  bottom: 14vw;
  /* left: 100%;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden; */
  transition: transform .3s ease-in-out, visibility .3s ease-in-out;
}
/* .offcanvas-collapse.open {
  visibility: visible;
  transform: translateX(-100%);
} */
/* .main-haeder */
.main-header{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.main-header .logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  
}
.main-header .toggle-menu {
  background-color:cadetblue;
  color: #e5e5e5;
}
.main-header .kakao{
  background-color: #f9e000;
  color: #2a303e;
}
.main-header .head-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}
.main-header .head-box i{
  font-size: 36px;
}
/* /.main-haeder */
.social-banner{
  height: 380px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
/* .riborn-animation  https://codepen.io/P1N2O/pen/pyBNzX*/
.animated-riborn{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
	}
	50% {
    background-position: 100% 50%;
	}
	100% {
    background-position: 0% 50%;
	}
}
/* /.riborn-animation */

.map-wrap{
  height: 380px;
}
#map{
  height: 380px;
  border: 10px solid #efefef;
}

/* .footer */
.footer-wrap{
  color: #e5e5e5;
  background-color: #000;
}
.footer-wrap .footer-content{
  margin-bottom: 16vw;
  height: 500px;
}
/* /.footer */

/* .fixed-bottom */
.item-box{
  height: 14vw;
  background-color: cadetblue;
  box-shadow: inset 1px 0px 4px#000 ;
}
.tel {
  background-color: darkblue;
}
.n-book {
  background-color: green;
}
.kakao-fixed {
  background-color: #f9e000;
}
.n-blog {
  background-color: green;
}
.time-fixed{
  background-color: darkblue;
}

/* /.fixed-bottom */